<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <appSettings>
    <add key="AppLogger" value="True" />
    <add key="EventLogger" value="True" />
    <add key="StartupLogger" value="True" />
    <add key="DefaultTraceLevel" value="0" />
  </appSettings>
  <log4net>
    <appender name="MemoryApp" type="log4net.Appender.MemoryAppender">
      <layout type="log4net.Layout.SimpleLayout" />
    </appender>
    <appender name="MemoryEvent" type="log4net.Appender.MemoryAppender">
      <layout type="log4net.Layout.SimpleLayout" />
    </appender>
    <appender name="MemoryStartup" type="log4net.Appender.MemoryAppender">
      <layout type="log4net.Layout.SimpleLayout" />
    </appender>
    <root>
      <level value="ALL" />
    </root>
    <logger name="AppLogger">
      <level value="ALL" />
      <appender-ref ref="MemoryApp" />
    </logger>
    <logger name="EventLogger">
      <level value="ALL" />
      <appender-ref ref="MemoryEvent" />
    </logger>
    <logger name="StartupLogger">
      <level value="ALL" />
      <appender-ref ref="MemoryStartup" />
    </logger>
  </log4net>
</configuration>
